apiVersion: v1
kind: Secret
metadata:
  name: {{ include "dash.fullname" . }}-secrets
  labels:
    {{- include "dash.labels" . | nindent 4 }}
type: Opaque
data:
  API_SECRET_KEY: {{ .Values.secrets.apiSecretKey | b64enc | quote }}
  JWT_SECRET: {{ .Values.secrets.jwtSecret | b64enc | quote }}
  DATABASE_PASSWORD: {{ .Values.secrets.databasePassword | b64enc | quote }}
  REDIS_PASSWORD: {{ .Values.secrets.redisPassword | b64enc | quote }}
