apiVersion: 1

datasources:
  # Prometheus datasource for metrics
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    editable: false
    jsonData:
      timeInterval: 5s
      httpMethod: POST
      manageAlerts: true
      prometheusType: Prometheus
      cacheLevel: 'High'
      incrementalQuerying: true

  # Loki datasource for logs
  - name: Loki
    type: loki
    access: proxy
    url: http://loki:3100
    editable: false
    jsonData:
      manageAlerts: true
      alertmanagerUid: alertmanager
      derivedFields:
        - name: 'TraceID'
          matcherRegex: '"trace_id":"(\w+)"'
          url: '$${__value.raw}'
          datasourceUid: 'tempo'  # Future tracing integration
        - name: 'AgentID'
          matcherRegex: '"agent_id":"(\w+)"'
          url: ''
        - name: 'SwarmID'
          matcherRegex: '"swarm_id":"(\w+)"'
          url: ''
      queryTimeout: 300

  # Loki as Alertmanager for log-based alerts
  - name: Alertmanager
    type: alertmanager
    uid: alertmanager
    access: proxy
    url: http://alertmanager:9093
    editable: false
    jsonData:
      implementation: prometheus
